 /* Header CSS */

/* Set smooth scrolling behavior for all elements */
* {
    scroll-behavior: smooth;
  }
  
  /* Header list container */
  .header-list1 {
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 400px;
    flex: 1;
    margin-right: 80px;
    align-items: center;
  }
  
  /* Logo design */
  .logo {
    height: 80px;
  }
  
  /* Home background image */
  .main_image {
    width: 101vw;
    height: 100vh;
    background-size: cover;
    background-image: url('./images/camera.jpg');
  }
  
  /* Header list */
  .header-list {
    display: flex;
    align-items: center;
    margin-left: 200px;
    margin-right: 100px;
  }
  
  /* Header */
  .header {
    display: flex;
    background-color: rgb(55, 147, 147);
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 100px;
    z-index: 1;
  }
  
  /* Social links */
  .social {
    text-decoration: none;
    color: white;
    cursor: pointer;
    background-color: rgb(55, 147, 147);
    border: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    transition: background-color opacity 0.5s;
    font-size: 14px;
  }
  
  .social:hover {
    color: black;
    opacity: 0.7;
  }
  
  .social:active {
    color: black;
  }
  
  /* Design 1 */
  .design1 {
    background-color: orange;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: opacity 0.4s;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
  }
  
  .design1:hover {
    opacity: 0.6;
    color:black;
  }
  
  /* Active link */
  .active {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: opacity 0.4s;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
  }




/* footer css */

.footer {
    width: 91vw;
    border-top-left-radius: 150px;
    height: 28vh;
    padding: 0px 10px 70px 100px;
    background: rgb(68, 67, 78);
    color: azure;
    display: flex;
    margin-top: 40px;
    justify-content: start;
    align-items: center;
}

.footer div {
    text-align: center;
}

.a {
    width: 400px;
    margin-left: 10px;
    padding-left: 2px;
    display: flex;
    flex-direction: column;
    height: 180px;
    padding-top: 10px;
}

.b {
    display: flex;
    flex-direction: column;
    height: 180px;
    margin-left: 140px;
}

.c {
    display: flex;
    flex-direction: column;
    height: 180px;
    margin-left: 140px;
}

footer div h2 {
    font-weight: 400;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-size: 20px;
}

form input {
    width: 300px;
    height: 35px;
    text-align: center;
    border-radius: 5px;
    margin-top: 18px;
    margin-bottom: 6px;
    outline: none;
    border: none;
}

form button {
    width: 100px;
    height: 25px;
    border: solid #fff;
    background: transparent;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 6px;
    text-align: center;
}

i {
    font-size: 25px;
    color: white;
}

form textarea {
    width: 300px;
    height: 35px;
    text-align: center;
    border-radius: 5px;
    margin-top: 18px;
    margin-bottom: 6px;
    outline: none;
    border: none;
}

.sending {
    margin-top: 3px;
}

.emaildoing {
    margin-top: 10px;
}

.texting {
    width: 300px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    margin-top: 18px;
    margin-bottom: 6px;
    outline: none;
    border: none;
}

form button {
    width: 100px;
    height: 25px;
    border: solid #fff;
    background: transparent;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 6px;
    text-align: center;
}

.hello1,
.hello2,
.hello3 {
    margin-top: 10px;
    font-size: 20px;
}

.san {
    font-size: 17px;
}



/* CSS for login page and signup page */

/* Styling for the body */
.body {
    background: url("../images/3.jpg"); /* Set the background image for the body */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    font-family: Arial;
}

/* Styling for the container */
.container {
    background: url("../images/1.jpg"); /* Set the background image for the container */
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    min-height: 400px;
    min-width: 370px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 2px 20px 0 rgba(0, 0, 0, 0.2);
}

/* Styling for table data */
td {
    text-align: center;
    width: 100%;
}

/* Styling for span inside table data */
td span {
    margin-left: 140px;
    margin-top: 20px;
    font-size: 30px;
    color: black;
}

/* Styling for the main input container */
.main_input {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Styling for input containers */
.input-container {
    margin: 30px 30px 10px 62px;
}

/* Styling for labels inside input containers */
.input-container label {
    color: black;
    margin: 0 0 5px 15px;
}

/* Styling for input fields */
.input-container .input-field {
    display: flex;
    flex-direction: column;
    margin: 15px 0 15px 0;
}

/* Styling for input fields */
.input-container input {
    outline: none;
    padding: 0 20px 0 20px;
    border: 2px solid rgba(255, 255, 255, 0.015);
    background: rgba(255, 255, 255, 0.35);
    height: 38px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.085),
        0 2px 30px 0 rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    font-size: 16px;
    color: black;
}

/* Styling for focused and valid input fields */
.input-container input:focus,
.input-container input:valid {
    border: 2px solid rgba(255, 255, 255, 0.65);
    background: transparent;
    box-shadow: none;
    border-radius: 30px;
}

/* Styling for submit button */
.input-container .submit {
    background: transparent;
    height: 40px;
    border: 2px solid black;
    box-shadow: none;
    transition: .3s ease-in-out;
    margin-top: 10px;
}

/* Styling for the submit button on hover */
.input-container .submit:hover {
    color: rgb(106, 87, 168); /* Change the text color on hover */
    cursor: pointer;
    border: 2px solid rgba(255, 255, 255, 0.016);
    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.085),
        0 2px 30px 0 rgba(0, 0, 0, 0.2); /* Add box shadow on hover */
}

/* Styling for the span inside the body */
.body span {
    display: flex;
    justify-content: right; /* Align the content to the right */
}

/* Styling for the links inside the span */
.body span a {
    color: black;
    font-size: 12px;
    text-decoration: none;
}

/* Styling for the paragraphs inside the body */
.body p {
    display: flex;
    justify-content: center; /* Align the content to the center */
}

/* CSS used in home page, product page, and product details page */

/* Styling for the camera1 class */
.cam1 {
    height: 200px;
    width: 300px;
}

/* Styling for the system1 class */
.system1 {
    height: 350px;
    width: 300px;
    border-style: solid;
    border-width: 1px;
}

/* Styling for the system1 class on hover */
.system1:hover {
    opacity: 0.6; /* Reduce the opacity on hover */
    transform: translateY(-0.8%); /* Apply a slight vertical translation on hover */
}

/* Styling for the FP class */
.FP {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    column-gap: 10px;
    margin-left: 32px;
    row-gap: 10px;
}

@media (max-width:1100px){
    .FP{
        grid-template-columns:1fr 1fr 1fr;
    }
}


@media (min-width:1101px){
    .FP{
        grid-template-columns:1fr 1fr 1fr 1fr;
    }
}

@media (max-width:900px){
    .FP{
        grid-template-columns:1fr 1fr;
    }
}

/* Styling for the property1 class */
.property1 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    color: red;
    font-weight: bold;
    font-size: 20px;
    margin-left: 100px;
    margin-bottom: 10px;
}

/* Styling for the hello class */
.hello {
    margin-left: 25px;
}

/* Styling for the don class */
.don {
    background-color: black;
    color: white;
    padding: 10px 20px 10px 20px;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 100px;
    transition: opacity 0.3s; /* Apply opacity transition on hover */

}

/* Styling for the don class on hover */
.don:hover {
    background-color:rgb(198, 93, 93);; /* Change the background color on hover */
}

/* Styling for the cut class */
.cut {
    text-decoration: line-through; /* Apply line-through text decoration */
}

/* Styling for the paragraph1 class */
.paragraph1 {
    font-size: 30px;
    font-family: Arial;
    margin-left: 32px;
    color: black;
    margin-top: 50px;
    margin-bottom: 25px;
}

